@import url("./font.css");
@import url("./scrollbar.css");
@import url("./color.css");

:root {
  --font-body: 'Arial Black, sans-serif';
  --font-heading: 'Oswald, sans-serif';

  --font-rc-light: 'RobotoCondensed-Light', sans-serif;
  --font-rc-regular: 'RobotoCondensed-Regular', sans-serif;
  --font-rc-bold: 'RobotoCondensed-Bold', sans-serif;

  --font-tw-extralight: 'TitilliumWeb-ExtraLight', sans-serif;
  --font-tw-light: 'TitilliumWeb-Light', sans-serif;
  --font-tw-regular: 'TitilliumWeb-Regular', sans-serif;
  --font-tw-semibold: 'TitilliumWeb-SemiBold', sans-serif;
  --font-tw-bold: 'TitilliumWeb-Bold', sans-serif;
  --font-tw-black: 'TitilliumWeb-Black', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-xxl: 3rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.15rem;
  --font-size-md: .975rem;
  --font-size-sm: .75rem;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  -webkit-background-color: var(--color-lightGrey);
  background-color: var(--color-lightGrey);
  scroll-behavior: smooth;
}
