::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-background-color: var(--color-dark);
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  -webkit-background-color: var(--color-darkGrey);
  background-color: var(--color-darkGrey);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-background-color: var(--color-lightGrey);
  background-color: var(--color-lightGrey);
}